/* color scheme 
light blue #1ed2f4
white #f4f5f6
yellow #eafc40
dark blue #254558
dark purple #2b2b3a
 */
 html {
    width: 100vw;
    background-color:#f4f5f6;
}
.activate{
    
    /* background-color: black; */
    
}
nav{
    background-color: #2b2b3a;
    color:#f4f5f6;
    position: fixed;
    z-index: 4;
 
}
.smallNav{
    font-family: 'Crimson Text', serif;
    background-color:#2b2b3a;
    color: #e9fc40c0;
    /* margin-top: -10; */
    padding:77px 10px;
}
.smallNav a{
    font-family: 'Rozha One', serif;
    color:#2b98ad;
}
a{
    color:#2b98ad;  
}
.moveup{
    margin-top:-55px;
}
img{
    width:100%;
}
.flout img{
    /* width: auto; */
    /* padding-left: -1px !important; */
    padding: -5px;
  
}
.flout{
    float: left;
    width:16.6%;
}
.flout1{
    float: left;
    width:10.6%;
}
.center-align img{
    max-height: 157px;
}
br{
    clear: both;
}
.summery i{
    position: relative; 
    top: 25px;
    color:#1ed2f4;
}
.summery{
    position: relative;
    top: 66px;
    background-color:#f4f5f6;
    border-left: 1px solid #2b2b3a;
    border-right: 1px solid #2b2b3a;
}
.skill{
    /* position: relative; */
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #254558;
    border-radius: 50%;
    padding-top:65px ;
    color:#f4f5f6;
    /* padding-left:-10px; */ 
}
.circlex:hover{
    /* background-color: #eafc40; */
    color:#1ed2f4;
    -webkit-box-shadow: 9px 13px 191px 0px #1ed2f4;
    -moz-box-shadow: 9px 13px 191px 0px #1ed2f4;
    box-shadow: 9px 13px 191px 0px #1ed2f4;
}
.create{
    /* top: 159px;
     left:3%; */
     top: 199px;
     left: 44%;
}
.adapt{
    /* top: -122px;
     left: 36%; */
     top: 358px;
     left: 30%;
}
.communicate{
    /* top: -143px;
    left: 70%; */
    top: 358px;
    left: 58%;
}
.ux{
    /* top: -1px;
    left:44%; */
    top: 531px;
    left:44%;
}
.resume{
    /* top: -253px;
    left:21%; */
    top: 366px;
    left:44%;
    padding-top:56px ;
}
.circleOfWork{
    background-color:#2b2b3a;
    color: #e9fc40c0;
    /* height:695px; */
    /* max-width: 1299px; */
}
.circleOfWork .box{
    /* background-color: pink;
    border: solid; */
    height: 225px;
    margin-bottom: 3px;
}
.circleOfWork .box:hover{
    text-shadow: 4px 1px 30px #1ed2f4;
}

.center{
    height: 535px;
 }
.material-icons{
    font-size:30px;
}
.circlex{
    height: 131px;  margin:5px; 
    background-color: #254558;
    color:#f4f5f6;
    padding-top:53px !important;
    border-radius: 50%;
}
#contact{
    /* background-color:#2b2b3a; */
    background-color: #254558;
    padding: 32px;
    margin-bottom: 0px;
}

